<button type="button" disabled class="btn btn-default" data-toggle="tooltip" data-placement="top" title="We include this as a first qestion in all forms. With an overall rating you can see at a glance which talks didn't go so well. Dive deeper into those form answers to see improvements over time.">
  Why we include this question?
</button>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>