<div class="sidebar">
  <div class="logo">
  	<%= image_tag "myrror_logo_transparent.png", class:"navbar-logo"%>
	</div>
	<a href="#contact">Overview</a>
	<%= link_to "My Forms", forms_path, class:"active" %>
	<%= link_to "Form Editor", new_form_path %>
	<a href="#contact">Analytics</a>
</div
