// Define variables for your color scheme
 
// Our color palette
 
// main colors
$myrror: #34CBB0;
$myrror-hover: #5dcfba;
$middlemyrror: #98E4D6;
$lightmyrror: #F3FCFA;
 
//grays
$darkgray: #0E0000;
$gray: #C4C4C4;
$midgray: #EBEBEB;
$light-gray: #F4F4F4;
$light-white: #fcfcfc;
 
// other colors 
$red: #FF3C3C;
$rouge: #FF3C76;
$purple: #DE97FF;
$blue: #2771FF;
$yellow: #FFCF27;
$orange: #E67E22;
 
