// FOR RADIO BUTTONS
.btn-create {  
  background: $rouge;
  text-decoration: none;
  color: white;
  border: 1px solid $rouge;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: 0.4s ease;
}

.btn-create:hover { 
  text-decoration: none;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: inset 2px 2px 2px 0px rgba(0,0,0,0.35);
  box-shadow: inset 2px 2px 2px 0px rgba(0,0,0,0.35);
}

.textarea-questions {
    resize: none;
    overflow: hidden;
    cursor: default;
}

.textarea-questions:focus, input:focus {
  outline: 0;
}

.category-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .category-item {
    flex: 10% 10% 10%;
  }
  
  .category-selector {
    position: absolute;
    transform: scale(0);
  }
  
  .category-selector + label {
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    font-size: 12px;
    text-align: left;
    padding: 10px 10px 10px 10px;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    background-color: white;
  }
  
  .category-selector:checked + label {
    color: white !important;
  }
  
  
  #question_type_open_question + label {
    color: $rouge;
  }
  
  #question_type_open_question:checked + label {
    background-color: $rouge;
    border-color: $rouge;
  }
  
  
  #question_type_multiple-choice + label {
    color: #FFC65A;
  }
  
  #question_type_multiple-choice:checked + label {
    background-color: #FFC65A;
    border-color: #FFC65A;
  }
  
  
  #question_type_single-choice + label {
    color: #62DDF5;
  }
  
  #question_type_single-choice:checked + label {
    background-color: #62DDF5;
    border-color: #62DDF5;
  }
  
  #question_type_star_rating + label {
    color: $rouge;
  }
  
  #question_type_star_rating:checked + label {
    background-color: $rouge;
    border-color: $rouge;
  }
  
  #question_type_text_slider + label {
    color: $blue;
  }
  
  #question_type_text_slider:checked + label {
    background-color: $blue;
    border-color: $blue;
  }
  
  // FOR TAGS
  
  .tag-item {
    display: inline-block;
  }
  
  .tag-selector {
    position: absolute;
    transform: scale(0);
  }
  
  .tag-selector + label {
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    border-radius: 50rem;
    padding: 0.2rem 0.6rem;
    background-color: $lightmyrror;
    color: $myrror;
    border: 1px solid $myrror;
    margin-right: 0.6rem;
    margin-bottom: 0.4rem;
  }
  
  .tag-selector:checked + label {
    background-color: $myrror;
    color: white;
  }

  .question_topic_tag {
    display: inline-block;
    font-size: 0.7rem;
    border-radius: 50rem;
    padding: 0.2rem 0.4rem;
    background-color: $myrror;
    color: $lightmyrror;
    margin-right: 0.6rem;
    margin-bottom: 0.4rem;
  } 