.feedback-container {
  //background-image: url('https://images.unsplash.com/photo-1511818966892-d7d671e672a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80')
  height: 100vh;
  width: 100%;
  background-color: #343434;
}

.landing-page-advertisement{
  justify-content: center;
  font-size: 16px;
  color: white;
  margin-top: 8vh;
  font-style: lighter;
  text-shadow: 1px black solid;

  #text {
    letter-spacing: 4px;
  }
}

.landing-page-feedback-giver {
  height: 100%;
  width: 300px;
  justify-content: center;
  margin: 0 auto;
  font-size: 32px;
  text-align: center;

  img {
    width: 80%;
    margin-top: 5vh;
  }

  form {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.5rem;
  }
}

.feedback-label {
  font-family: $body-font;
  width: 100%;
  text-align: center;
  border-radius: 50px;
  color: $myrror;
  background: white;
  border: 1px solid $myrror;
  text-decoration: none;
  transition: 0,4s ease;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  height: 70px;
}

.btn-above-page-feedback {
  text-decoration: none;
  color: white;
  background: $myrror;
  border: 1px solid $myrror;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: 0.4s ease;
  width: 100%;
  }

 .link-feedback {
  color:  $myrror;
 }

 .link-feedback:hover {
  text-decoration: none;
  color: $middlemyrror;
 }

.btn-above-page-feedback:hover {
  text-decoration: none;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}
