
.form-display-success-page {
  padding: 20px 0px 48px 96px;
  width: calc(100vw - 200px);
  box-shadow: inset 2px 4px 4px 0px rgba(0,0,0,0.45);
  
  background: white;
  border-radius: 24px 0 0 24px;
  margin: 12px 0px 12px 12px;
  overflow-y: scroll;
}



:root{
  --bg-color: white;
}

.card {
  width: 100%;
  display: inline-block;
  text-align: center;
  background-color: white;
  color: $darkgray;
  border-radius: 20px;
  padding: 24px 16px;
  box-shadow: 2px 2px 2px 2px rgba(40, 40, 40, 0.1);
}



// CARD

.inner-card {
  display: inline-block;
  color: $darkgray;
  padding: 0px 35px;
  margin-top: 20px;
  width: 800px;
  // box-shadow: 0px 4px 24px 8px rgba(0, 0, 0, 0.25);
  // border-radius: 24px;

  h5 {
    font-size: 26px; 
    font-weight: 500;
    margin-bottom: 30px;
  }
}

// CODE PART


.code-part-above {
  display: flex;
  margin-bottom: 20px;
}

.code-part-above-left {
  width: 290px;
}

.code-part-above-right {
  padding: 10px;
  padding-left: 80px;
  width: 450px;
  
  h4 {
    font-size: 18px; 
    font-weight: 600;
  }

  h5 {
    font-size: 16px;
    margin-top: 45px;
    margin-bottom: 0;
  }
}

.card-codes {
  // background-color: $middlemyrror;
  color: $darkgray;
  border-radius: 54px;
  padding: 15px 0px;;
  border: 3px solid #C4C4C4;
  box-sizing: border-box;
  height: 85px;
}


.textarea-code {
  resize: none;
  overflow: hidden;
  cursor: default;
  border: none;
  width: 100%;
  height: 45px;
  font-weight: bold;
  font-size: 30px;
  box-sizing: border-box;
  background-color: transparent;
  text-align: center;
}

.textarea-code:focus, input:focus {
outline: 0;
}

.btn-clipboard {
  text-decoration: none;
  background-color: $myrror;
  color: white;
  width: 100%;
  padding: 8px 0px;
  font-weight: lighter;
  transition: 0.4s ease;
  display: inline-block;
  align-items: center;
  margin-bottom: 16px;
  border-radius: 54px;
  box-shadow: 0px 8px 24px 4px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  height: 50px;
}

.btn-clipboard:hover {
  text-decoration: none;
  color: #34CBB0;
  border: 3px solid #34CBB0;
  background-color: transparent;
}

#far-success {
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
}

#far-success:hover {
  color:  #34CBB0;
}

.link-success {
  color: #34CBB0;
}

.link-success:hover {
  color: #34CBB0;
  
}

// HR TAG 

.hr-tag-success-page {
  width: 100%;
  margin: 0 auto;
  height: 10px;
}

// QR CODE PART 

.qr-code-part-bellow {
  margin-top: 20px;
  display: flex;
}

.qr-code-part-bellow-left {
  display: inline-block;
  width: 270px;
  align-items: center;
}

.qr-code {
  border: 3px solid black;
  border-radius: 54px;
  padding: 15px;
  width: 290px;
}

.qr-code-part-bellow-right {
  padding: 10px;
  padding-left: 80px;
  width: 450px;

  h4 {
    font-size: 18px; 
    font-weight: 600;
    margin-top: 30px;
  }

  h5 {
    font-size: 16px;
    margin-top: 40px;
  
  }

  .btn-clipboard {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}









table {
  border-width: 0;
  border-style: none;
  border-color: $darkgray;
  border-collapse: collapse;
}

td {
  border-left: solid 7px #000;
  padding: 0; 
  margin: 0; 
  width: 0px; 
  height: 7px; 
}

td.black { border-color: #000; }
td.white { border-color: #fff; }

h1{
  font-size: 3em;
  font-weight: normal;
}

/* Basic styles for title-animation */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.title-animation {
  width: 100vw;

  h1{
    font-size: 1.5em;
    font-weight: 400;
    color: black;
  }
}
/* title styles */
.home-title span{
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 2;
  font-size: 30px;
  font-weight: bold;
}

.home-title span::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
  transform: translateX(-101%);
}

.home-title span::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
  transform: translateX(0);
}

.home-title span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after{
  animation-delay: 0.2s;
}

.home-title span:nth-of-type(2)::before,
.home-title span:nth-of-type(2)::after{
  animation-delay: 0.5s;
}

@keyframes a-ltr-after{
  0% {transform: translateX(-100%)}
  100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
  0% {transform: translateX(0)}
  100% {transform: translateX(200%)}
}

