// Specific CSS for your home-page


// NAVBAR


.navbar-wrapper{
    background-color: rgba(58, 69, 80, 0.397);
    // background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.39);
    // position: absolute;
    top: 30px;
    height: 40px;
    width: 75vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    // box-shadow: 13px 13px 0px 0px  #FFFFFF;
    backdrop-filter: blur(4px);
    text-align: center;
    margin: 0 auto;
    padding: 0 5%;
    a {
      font-size: 1.1rem;
    }
  }

  .container-home {
    width: 75vw;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .home-black {
    color: $myrror;
  }

  .home-black:hover {
    color: white;
  }

  .titles-navbar-white {
    color: white;
  }

  .titles-navbar-white:hover {
    color: white;
  }

  .btn-above-page-navbar {
    text-decoration: none;
    color: white;
    padding: 6px 16px;
    font-weight: lighter;
    transition: 0.4s ease;
    background: #5dcfba;
    border-radius: 50px;
  }

  .btn-above-page-navbar:hover {
    box-shadow: 0 8px 30px rgb(0, 0, 0);
    color: white;
    background: $myrror;
  }

// BANNER

  .banner {
    background-size: cover;
    background-position: center;
    padding: 5% 0 10% 0px;
  }

  .banner h1 {
   color: white;
  }

  .banner h4 {
    color: white;

  }

  .tagline {
    margin-top: 20px;
  }

  .banner-title {
    position: relative;
    margin-top: 8%;
  }

  .color-backdrop {
    position: absolute;
    top: 32px;
    left: 16px;
    background-color: rgba(52, 203, 176, 0.4);
    width: 150px;
    height: 24px;
  }

  .color-backdrop-2 {
    position: absolute;
    top: 97px;
    left: 18px;
    background-color: rgba(52, 203, 176, 0.4);
    width: 775px;
    height: 24px;
  }

  h1 {
    position: relative;
    z-index: 1;
    left: -2px;
  }

  .CTA-button {
    display: flex;
    justify-content: center;
    margin-top: 8%;
  }

  .btn-above-page-banner {
    text-decoration: none;
    color: white;
    background: $myrror;
    border: 1px solid $myrror;
    padding: 12px 20px;
    border-radius: 50px;
    font-weight: 400;
    transition: 0.4s ease;
    font-size: 1.3rem;
  }

  .btn-above-page-banner:hover {
    text-decoration: none;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    color: white;
    background: $myrror-hover;
    border: 1px solid $myrror-hover;
  }


  // BLOCK WHY

  .container-why {
    width: 75vw;
    margin-bottom: 3%;
    margin-right: auto;
    margin-left: auto;
  }

  .why {
    color: $myrror;
    text-align: center;
    padding: 5% 0 2% 0;
    font-size: 2.3rem;
  }

  .why-block{
    justify-content: center;
  }

  .tripple-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .tripple-card {
    width: 48%;
    background-color: white;
    margin: 2%;
    padding: 3%;
    // filter: blur(4px);
    border-radius: 8px;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2), 0 0px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .title-card {
    font-size: 1.3rem;
    color: $myrror-grey;
  }

  .tripple-wrapper-content {
    font-size: 1rem;
    color: $myrror-grey;
  }

  .icons-tripple-card {
    font-size: 2.3rem;
    color: $myrror;
    margin-bottom: 15px;
  }

  // QUOTE

  .quote-container {
    background-color: $myrror;
    padding-top: 3%;
    height: 16vh;
  }

  .quote {
    color: white;
    font-size: 1.3rem;
    text-align: center;
    font-style: italic;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .bill-gates {
    color: white;
    font-family: "Work Sans";
    font-style: normal;
    float: right;
    // font-weight: 200;
    padding-right: 15%;
    font-size: 1rem;

  }



  // BLOCK HOW

  .how {
    color: $myrror;
    text-align: center;
  }

  .card-homepage {
    width: 70vw;
    background-color: rgba(196, 196, 196, 0.12);
    margin: 0 auto;
    align-items: center;
    border-radius: 28px;
    margin-top: 3%;
    padding: 3% 0 3%;
  }

  .container-with-3-points{
    width: 80%;
  }

  .key-points{
    display: flex;
    align-items: center;
    color: $myrror-grey;
    padding: 1.5% 0;

    p {
      font-size: 1.1rem;
    }
  }


  .bottom-icons {
    color: $myrror-grey;
    margin: 1% 5% 3% 5%;
    font-size: 2.6rem;
  }

  .fa-qrcode {
    font-size: 46.85px;
  }

  .iphone {
    display: flex;
    margin: 3%;

    img {
      height: 30vh;
    }
  }

  .container-wrapper {
    display: flex;
    align-items: center;
    margin: 3% 5% 0 8%;
  }


  // READY TO START THE JOURNEY ?

  .ready-to-start-journey {
    text-align: center;
    margin-bottom: 5%;
  }

  .ready-to-start-journey-text {
    // font-weight: bold;
    color: $myrror-grey;
    margin: 3%;
  }

  .btn-above-page-ready {
    text-decoration: none;
    color: white;
    background: $myrror;
    border: 1px solid $myrror;
    padding: 12px 20px;
    border-radius: 50px;
    font-weight: 400;
    transition: 0.4s ease;
    font-size: 1.1rem;
    margin-bottom: 5%;
  }

  .btn-above-page-ready:hover {
    text-decoration: none;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    color: white;
    background: $myrror-hover;
    border: 1px solid $myrror-hover;
  }

  // FOOTER

  .footer {
    color: white;
    padding: 50px;
    height: 280px;
    background-color: rgba(0, 0, 0, 0.73);
  }

  .footer-up {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .your-place-to-talk-block{
    // width: 25%;
    font-style: bold;
  }

  .your-place-to-talk-text {
    color: $myrror;
    font-size: 20px;
  }

  .your-place-to-talk-icons-block {
    display: flex;
    font-size: 24px;
    padding-top: 20px;
  }

  .social-media {
    color: white;
    margin: 5px;
    text-decoration: none;
  }

  .social-media:hover {
    color: $myrror;
    text-decoration: none;
  }

  .footer-small-block {
    // width: 15%;
    align-items: center;
    margin: 0;
    text-align: left;
    font-size: 16px;
  }

  .title-footer-small-block {
    color: $myrror;
  }

  .subtitles-footer-small-block {
    color: white;
  }

  .subtitles-footer-small-block:hover {
    color: white;
  }

  .hr-tag {
    width: 80%;
    margin: 0 auto;
    height: 10px;
    border-bottom: 1px solid $myrror;
  }

  .footer-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    height: 80px;
  }

  .footer-down-logo {
    height: 60px;
    display: flex;
    img {
      width: 60px;
      margin-right: 10px;
    }
  }

  .myrror-wrapper{
    border-bottom: 1px solid white;
    height: 34px;
    align-content: center;
    p {
      margin-top: 5px;
    }
  }

  .footer-down-sign-up {
    font-size: 14px;
  }


  // TRYING TO IMPLEMENT SOME RESPONSIVENESS
  
  // @media only screen and (max-width: 420px) {
  // .banner h1 {
  //   color: white;
  //   font-size: 18px;
  //   }

