// Specific CSS for your home-page

h1 {
  position: relative;
  z-index: 1;
}

.CTA-banner {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.tripple-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.tripple-card {
  width: 30%;
  background-color: white;
  margin: 50px;
  padding: 20px;
  // filter: blur(4px);
  border-radius: 8px;
}

.fas {
  font-size: 26px;
  color: $myrror;
  margin-bottom: 20px;
}

.why-how {
  text-align: center;
  color: $myrror;
  margin-top: 30px;
}

.title-card {
  font-size: 22px; 
  color: #000000;
}

.quote-container {
  background-color: rgba(152, 228, 214, 0.2);
  padding-top: 20px;
  height: 90px;
}

.quote {
  color: black;
  font-family: "Work Sans";
  font-style: normal;
  font-size: 20px;
  text-align: center;
}

.bill-gates {
  color: black;
  font-family: "Work Sans";
  font-style: normal;
  float: right;
  padding-right: 24%;
}


.footer {
  background: black;
  opacity: 0.73;
  height: 100px;
  color:$myrror;
}

.container-how {
  background-color: $gray;
  margin: 50px;
}