// Specific CSS for your home-page

.navbar-wrapper{
  background-color: rgba(51, 44, 44, 0.5);
  color: white;
  // opacity: 80%;
    position: absolute;
    top: 30px;
    height: 40px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
    // box-shadow: 13px 13px 0px 0px  #FFFFFF;
    backdrop-filter: blur(4px);
    span {
      font-size: 20px;
      // padding-bottom: 0;
    }
}

.home-black {
  color: black;
}

h1 {
  position: relative;
  z-index: 1;
}

.CTA-button {
  display: flex;
  justify-content: center;
  margin: 64px auto;
  width: 260px;
  font-size: 22px;
}

.tripple-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-right: 150px;
  padding-left: 150px;
}


.tripple-card {
  width: 30%;
  background-color: white;
  margin: 50px;
  margin-top: 30px;
  padding: 20px;
  // filter: blur(4px);
  border-radius: 8px;
  filter: drop-shadow(0px 2px 2px $lightmyrror)
}

.card-homepage {
  height: 400px;
  width: 1000px;
  background-color: rgba(196, 196, 196, 0.12);
  margin: 0 auto;
  align-items: center;
  border-radius: 28px;
  margin-top: 30px;
} 

.container-with-3-points{
  width: 80%;
  padding-top: 100px;
  padding-left: 100px;
}

.fas {
  font-size: 28px;
  color: $myrror;
  margin-bottom: 20px;
}

.bottom-icons {
  font-size: 1.3em;
  color: $myrror;
  margin: 20px;
  color: rgba(0, 0, 0, 0.73);
  font-size: 50px;
  margin: 30px;
  // filter: drop-shadow(0px 2px 2px $myrror);
}

.why-block{
  background-color: $light-gray;
  justify-content: center;
}

.how {
  color: $myrror;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 32px;
}

.why {
  color: $myrror;
  text-align: center;
  padding-top: 40px;
  font-size: 32px;

}

.title-card {
  font-size: 22px; 
  color: #000000;
}

.quote-container {
  background-color:rgba(52, 203, 176, 0.2);;
  padding-top: 20px;
  height: 90px;
}

.quote {
  color: black;
  font-size: 25px;
  text-align: center;
  font-weight: 200;
}

.bill-gates {
  color: black;
  font-family: "Work Sans";
  font-style: normal;
  float: right;
  padding-right: 24%;
  font-weight: 200;
  font-size: 20px;
}

.key-points{
  display: flex;
  font-size: 20px;
  align-items: center;
  color: black;

  p {
    font-size: 20px;
  }
}

.iphone {
  display: flex;
  margin: 20px;
  
  img {
    height: 350px;
    padding-top: 50px;
  }
}
.container-wrapper {
  display: flex;
  align-items: center;
  height: 200px;
}

.ready-to-start-journey {
  text-align: center;
  margin-bottom: 5%;
  
}

.ready-to-start-journey-text {
  font-size: 32px;
  // font-weight: bold;
  color: black;
  margin-top: 50px;
}

.footer {
  color: white;
  padding: 50px;
  height: 280px;
  background-color: rgba(0, 0, 0, 0.73);
}

.footer-up {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.your-place-to-talk-block{
  // width: 25%;
  font-style: bold;
}

.your-place-to-talk-text {
  color: $myrror;
  font-size: 20px;
}

.your-place-to-talk-icons-block {
  display: flex;
  font-size: 24px;
  padding-top: 20px;
}

.social-media {
  color: white;
  margin: 5px;
}

.footer-small-block {
  // width: 15%;
  align-items: center;
  margin: 0;
  text-align: left;
  font-size: 16px;
}

.title-footer-small-block {
  color: $myrror;
}

.subtitles-footer-small-block {
  // text-align: left;
}
.hr-tag {
  width: 80%;
  margin: 0 auto;
  height: 10px;
  border-bottom: 1px solid $myrror;
}

.CTA-buttom-page {
  font-size: 20px;
}


.footer-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  height: 80px;
}

.footer-down-logo {
  height: 60px;
  display: flex;
  img {
    width: 60px;
    margin-right: 10px;
  }
}

.myrror-wrapper{
  border-bottom: 1px solid white;
  height: 34px;
  align-content: center;
  p {
    margin-top: 5px;
  }
}

.footer-down-sign-up {
  font-size: 14px;
}
