.tab-bar-index {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5%;

    ul {
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
  }

  #menu li{
    list-style: none;
    padding: 0 16px;
    font-size: 4vh;
  }
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: left;
  padding: 0;
  margin: 5% 0;
}

.indexline {
  border-right: 1px solid $gray;
  margin: 0 20%;
}

// Large devices (desktops, 992px and up)
@media (min-width: 500px) and (max-width: 750px) {
  .dashboard {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 750px) and (max-width: 1200px) {
  .dashboard {
    grid-template-columns: 1fr 1fr;
  }
}

.index-label {
  color: $gray;
  font-size: 1.1rem;
}


.dashboard-items {
  display: inline-block;
}

.inline-label {
  display: inline-block;
}

.number-item {
  font-size: 3.6rem;
  font-weight: bold;
  color: $myrror-grey;
}

#icon-index {
  font-size: 1.2rem !important;
  color: $myrror-grey !important;
}

.divider-index {
  border-bottom: 1px solid $myrror-grey;
  margin-bottom: 3%;
}

.slick-prev:before, .slick-next:before {
  color: $myrror !important;
  font-size: 32px !important;

}

.slick-list .draggable {
  height: 240px;
}

.slick-track {
  height: 300px;
  margin-top: 15px;
}

.delete-form {
  width: 100%;
  font-size: 15px;
  position: absolute;
  bottom: 3px;
  right: -40%;


  .fa-trash:before {
    color: $myrror;
    font-size: 26px;
  }
}

.stars-form {
  position: absolute;
  bottom: 3px;
  left: 18px;



  .fa-star:before {
    color: $myrror;
    font-size: 26px;
  }
}

.inside-card {
  display: space-between;
  font-size: 16px;
}

.card-grid .slick-initialized .slick-slide {
  margin-top: 30px;
  width: 78vw;
}


.show-content-stars {
  display: flex;
  color: $myrror;
  border-radius: 24px;
  margin: 12px;
  padding: 9px;
  background: white;
  width: fit-content;
  margin: auto 0;

  p {
    margin: auto 0;
    margin-left: 12px;
    padding-top: inherit;
  }
}

.counter-stars {
  font-size: 32px;
}

.btn-above-page-show {
  text-decoration: none;
  color: white;
  background: $myrror;
  border: 1px solid $myrror;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: 0.4s ease;
  display: flex;
  align-items: center;
}

.btn-above-page-show:hover {
  color: white;
  text-decoration: none;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.show-content-number {
  font-size: 16px;
  color: #343434;
}

.card-index-page {
  display: flex;
  background: white;
  border-radius: 18px;
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: 16px;
  align-items: center;
  text-align: center;
  // -webkit-box-shadow: 0px 4px 4px 8px rgba(0, 0, 0, 0.25);
  // -moz-box-shadow: 0px 4px 4px 8px rgba(0, 0, 0, 0.25);
  // box-shadow:  0px 4px 4px 8px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease;
  position: relative;

  h1 {
    font-size: 24px;
  }
}

.card-link-index {
  font-size: 24px;
  font-weight: 700;
  color: $myrror;
  transition: 0.3s ease-out;
}

.card-link-index:hover {
  text-decoration: none;
  color: #343434;
}

