// Import page-specific CSS files here.
@import "home";
@import "new_form";
@import "form_success";
@import "edit_form";
@import "analytics";

.background {
  max-height: 100%;
  width: 100vw;
}

.main-container {
  display: flex;
  height: 100vh;
  margin-left: 200px;
  background-color: $myrror-grey;
}

.show-content {
  color: black;
  border-radius: 24px;
  margin: 12px;
  padding: 12px;
}

.headline {
  color: $myrror;
  
  h1 {
    font-size: 40px;
  }
}

.show-content-show {
  color: black;
  border-radius: 24px;
  margin: 12px;
  padding: 12px;
  background: white;
  width: fit-content;
}

.form-display {
  width: calc(100vw - 200px);
  box-shadow: inset 2px 4px 4px 0px rgba(0,0,0,0.45);
  padding: 48px 0px 48px 96px;
  background: white;
  border-radius: 24px 0 0 24px;
  margin: 12px 0px 12px 12px;
  overflow-y: scroll;
}

.tab-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  margin-bottom: 48px;

  ul {
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
  }

  #menu li{
    list-style: none;
    padding: 0 16px;
    font-size: 4vh;
  }
}

.btn-above-page-show {
  text-decoration: none;
  color: white;
  background: $myrror;
  border: 1px solid $myrror;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: 0.4s ease;
  display: flex;
  align-items: center;
}

.btn-above-page-show:hover {
  color: white;
  text-decoration: none;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}


#divider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.9);
  margin: 1em 0 1em 16px ;
  padding: 0;
}
