$baseheight: 68vh;
$basewidth: 68vw;
$banner-width: 20vw;
$border: 24px;

// CODE FOR THE INFOS AND HEADER
.presentation-info {
  text-align: center;
}
// CODE FOR THE ANSWERING FORM WITH CAROUSEL

.question-form {
  // margin-top: 24vh;
  width: $basewidth;
  height: $baseheight;
  display: flex;
  background: $myrror-grey;
  border-radius:$border;
  box-shadow: 0px 8px 16px 4px rgba(0,0,0,0.1);
}

.symbol-field {
  width: $banner-width;
  height: $baseheight;
  display: flex;
  align-items: center;
  justify-content: center;

  .illustration {
    width: 18vw;
  }
}

.carousel-inner {
  width: 48vw;
  background-color: white;
  border-radius:$border;
  box-shadow: inset 2px 4px 4px 0px rgba(0,0,0,0.45);
  // padding: 120px;
  // align-items: center;
  // display: flex;
  height: $baseheight;
  
  .carousel-item {
    h4 {
      margin: 16px 24px;
    }
    #answer-form {
      margin: 16px 24px;
    }
  }
}

// CODE FOR THE RADIO BUTTON STAR INPUT

input[type="radio"] {
  display:none;
}

.star-wrapper {
  display: flex;
}

.carousel-inner {
  .collection_radio_buttons {
  background-image: url("stern-empty.png");
  background-size: auto;
  background-position: center;
  padding:10px;
  display:block;
  position:relative;
  width: 50px;
  height: 50px;
  margin: 0 !important;
  color: rgba(0, 0, 0, 0);
  text-align: center;
  } 

  .collection_radio_buttons:hover {
    cursor:pointer;
    background-image: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)), url("stern-full.png");
  }
}



input[type="radio"]:checked + label {
  background-image: url("stern-full.png");
}

// MEDIA QUERY RULES TO SWITCH STYLING

@media only screen and (max-width: 600px) {
  .question-form {
    width: 90vw;
    height: 72vh;
    display: flex;
  }
  .symbol-field {
    width: 90vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}