$baseheight: 68vh;
$basewidth: 68vw;
$banner-width: 20vw;
$border: 24px;
$starsize: 5vw;

// CODE FOR THE INFOS AND HEADER
.presentation-info {
  text-align: center;
  width: 68vw;
  margin: 0 auto;
  h2 {
    font-size: calc(22px + (28 - 22) * ((100vw - 320px) / (1920 - 320))) !important;
  }

  h3 {
    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320))) !important;
  }

  h4 {
    font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320))) !important;
  }
}
// CODE FOR THE ANSWERING FORM WITH CAROUSEL

.question-form {
  margin-top: 5vh;
  width: $basewidth;
  height: $baseheight;
  display: flex;
  background: $myrror-grey;
  border-radius:$border;
  box-shadow: 0px 12px 16px 8px rgba(0,0,0,0.2);
}

.symbol-field {
  width: $banner-width;
  height: $baseheight;
  display: flex;
  align-items: center;
  justify-content: center;

  .illustration-new {
    width: 18vw;
  }
}


.carousel-inner {
  width: 48vw;
  background-color: white;
  border-radius:$border;
  // box-shadow: inset 2px 4px 4px 0px rgba(0,0,0,0.45);
  // padding: 120px;
  // align-items: center;
  // display: flex;
  height: $baseheight;
  #answer-form {
    height: 46vh !important;
    #new_answer {
      height: 100%;
    }
    .br-wrapper {
      .br-widget {
        margin: 0 auto;
        width: max-content;
      }
    }
  }
  .carousel-control-prev {
    // width: 10% !important;
    position: relative;
    span {
      position: absolute;
      // margin-top: 20%;
      font-size: 28px;
      top: 56vh;
    }
  }
  .carousel-control-next {
    // width: 10% !important;
    span {
      position: absolute;
      //margin-top: 48vh;
      font-size: 28px;
      top: 56vh;
    }
  }
  
  .illustration-search {
    width: 300px;
    margin-top: -48px;
  }
  .form-title {
    background-color: rgba(0, 0, 0, 0);
    height: 16vh;
    text-align: center;
  }
  .carousel-item {
    #simple-form {
      width: 70%;
      position: absolute;
      bottom: 60px;
      left: 7vw;
    }
    .first-block {
      margin: 0 !important;
      display: flex;
      text-align: center;
    }
    h4 {
      margin: 24px 24px;
      font-size: 24px;
    }
    #answer-form {
      margin: 16px 24px;
    }
    .form-control {
      width:100%;
      position: relative;
      height: 120px;
    }
    
  }
}

#simple-form {
  margin-top: 24px;
}

// STAR RATING CODE 

.br-theme-css-stars .br-widget a {
  height: 40px !important;
  width: 40px !important;
  font-size: calc(42px + (48 - 42) * ((100vw - 320px) / (1080 - 320))) !important;
  margin-right: calc(0px + (6 - 0) * ((100vw - 320px) / (1080 - 320))) !important;
}
.br-theme-css-stars .br-widget a:after {
  color: #d2d2d2;
}
.br-theme-css-stars .br-widget a.br-active:after {
  color: $myrror !important;
}
.br-theme-css-stars .br-widget a.br-selected:after {
  color: $myrror  !important;
}
// CODE FOR THE RADIO BUTTON STAR INPUT

input[type="radio"] {
  display:none;
}

.star-wrapper {
  display: flex;
}

.carousel-inner {
  .collection_radio_buttons {
  background-image: url("https://myrror.herokuapp.com/images/stern-empty.png");
  background-size: contain;
  background-position: center;
  padding:10px;
  display:block;
  position:relative;
  width: $starsize;
  height: $starsize;
  margin: 0 !important;
  color: rgba(0, 0, 0, 0);
  text-align: center;
  } 

  .collection_radio_buttons:hover {
    cursor:pointer;
    background-image: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)), url("https://myrror.herokuapp.com/images/stern-full.png");
  }
}



input[type="radio"]:checked + label {
  background-image: url("https://myrror.herokuapp.com/images/stern-full.png");
}

// MEDIA QUERY RULES TO SWITCH STYLING

// @media only screen and (max-width: 600px) {
//   .presentation-info {
//     padding: 8px 36px;
//     h2 {
//       font-size: 1.5rem !important;
//     }

//     h3 {
//       font-size: 1.25rem !important;
//     }

//     h4 {
//       font-size: 1rem !important;
//     }
//   }

//   .question-form {
//     width: 90vw;
//     height: 72vh;
//     display: flex;
//     margin-top: 24px;
//   }
//   .symbol-field {
//     display: none;
//   }

//   .illustration-new {
//     display: none;
//   }
 
//   .carousel-inner {
//     width: 90vw;
//     height: 62vh;
//     margin-top: 12vh;
//     position: relative;
//     //margin-top: calc(82vh - 62vh);
//     .carousel-control-prev span {
//       margin-top: 0;
//     }
//     .carousel-control-next span {
//       margin-top: 0;
//       bottom: 24px;
//     }
//     .carousel-item {
      
//       #answer-form {
//         height: 40vh !important;
//         #new_answer {
//           height: 100%;
//         }
//         .br-wrapper {
//           .br-widget {
//             margin: 0 auto;
//             width: 40vw;
//           }
//         }
//       }
//       .form-control {
//         width: 100%;
//         height: 28vh;
//       }
//       #simple-form {
//         width: 70%;
//         position: absolute;
//         bottom: 0;
//         left: 13vw;
//       }
//       .form-title {
//         background-color: rgba(0, 0, 0, 0);
//         height: 12vh;
//         width: 90vw;
//         top: -10vh;
//         text-align: center;
//         h4 {
//           color: black;
//           margin: 16px 24px;
//         } 
//       }
//     }
//   }
// }