.question-container {
  width: 70vw;
}

.display-image{
  width: 20%;
  background: @myrror-grey;
}
.question-form {
  width: 80%;
}


// CODE FOR THE RADIO BUTTON STAR INPUT

input[type="radio"] {
  display:none;
}

.carousel {
  .collection_radio_buttons {
  background-image: url("stern-empty.png");
  background-size: auto;
  background-position: center;
  padding:10px;
  margin-top:10px;
  display:block;
  position:relative;
  width: 50px;
  height: 50px;
  color: rgba(0, 0, 0, 0);
  text-align: center;
  } 

  .collection_radio_buttons:hover {
    cursor:pointer;
    background-image: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)), url("stern-full.png");
  }
}



input[type="radio"]:checked + label {
  background-image: url("stern-full.png");
}

// MEDIA QUERY RULES TO SWITCH STYLING

@media only screen and (max-width: 600px) {
  .question-form {
    width: 90vw;
  }
}