// Import page-specific CSS files here.
@import "home";
@import "new_form";

.background {
  min-height: 100%;
  width: 100%;
}


.btn-outline-show {
  text-decoration: none;
  color: $myrror;
  border: 1px solid $myrror;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: 0.4s ease;
  align-items: center;
  height: 42px;
}
 
.btn-outline-show:hover {
  text-decoration: none;
  background: $myrror;
  color: white;
}


.main-container-show {
  display: flex;
  min-height:100% ;
  margin-left: 200px;
}

.show-links {
  margin-top: 5px;
  width: 50%;
  justify-content: space-between;
  display-items: inline-block;
}

.show-parent {
  position: relative;
  width: 100%;

  li {
    border-bottom: 2px solid $myrror;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
 
  a:hover {
    text-decoration: none;
    }
}

.fa-qrcode:before {
  color: #343434;
  font-size: 50px;
}

.fa-qrcode:hover {
  text-decoration: none;
  color: $myrror;
}

.headline-show {
  color: $myrror;
}

.show-page-questions {
  color: black;
  font-size: 15px;

  // border-radius: 24px;
  // margin: 12px;
  // padding: 12px;
  // background: white;
  // width: fit-content;
  //   -webkit-box-shadow: 4px 4px 8px 0px rgba(52, 203, 176, 0.2);
  // -moz-box-shadow: 4px 4px 8px 0px rgba(52, 203, 176, 0.2);
  // box-shadow:  4px 4px 8px 0px rgba(52, 203, 176, 0.2);
  // margin: 16px 0;
  // font-weight: 500;
  
}

.show-headline {
  color: $myrror;
  font-weight: bold;
  // border-radius: 24px;
  // padding: 12px;
  // background:white;
  width: fit-content;
  //   -webkit-box-shadow: 4px 4px 8px 0px rgba(52, 203, 176, 0.2);
  // -moz-box-shadow: 4px 4px 8px 0px rgba(52, 203, 176, 0.2);
  // box-shadow:  4px 4px 8px 0px rgba(52, 203, 176, 0.4);
  margin-bottom: 24px;
}


.show-questions {
  padding: 100px;
}

.form-display-show {
  width: 100%;
  height: 100%;
  box-shadow: inset 2px 4px 4px 0px rgba(0,0,0,0.45);
  padding: 48px 0px 48px 96px;
  background: $lightmyrror;
  border-radius: 24px 0 0 24px;
  margin: 12px 0px 12px 12px;
}

.tab-bar-show {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 50px;

  ul {
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    width: 80%;
  }

  #menu li{
    list-style: none;
    padding: 0 16px;
    font-size: 28px;
  }
}

ul {
  padding: 0;
}

.btn-above-page-show {
  text-decoration: none;
  color: white;
  background: $myrror;
  border: 1px solid $myrror;
  padding: 3px 12px;
  border-radius: 50px;
  font-weight: lighter;
  transition: 0.4s ease;
  font-size: 24px;
  margin: auto 0;
  margin-bottom: 2px;
}

.btn-above-page-show:hover {
  color: white;
  text-decoration: none;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}


#divider-show {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.9);
  margin: 1em 0 1em 16px ;
  padding: 0;
}

.btn-outline-show {
  text-decoration: none;
  color: $myrror;
  border: 1px solid $myrror;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: 0.4s ease;
  margin-top: 30px;
  height: 42px;
}

.btn-outline-show:hover {
  text-decoration: none;
  background: $myrror;
  color: white;
}

.fa-star {
  margin-top: 15px;
  margin-left: 0px !important;
  font-size: 15px;
}

.fa-star:hover {
  text-decoration: none;
  // filter: drop-shadow(30px 10px 4px #4444dd);
}

.star-hover:hover .fa-star { 
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
}


.scrollbar-show {
  height: 100vh;
  overflow-y: scroll;
}

.answer-link {
  display: flex;
  margin-left: 15px;

  p {
    margin: auto 0;
    margin-left: 12px;
    font-size: 15px !important;
  }
}
