<div class="background">
<%= render "components/vertical_navbar", active: ""%>
  <div class="main-container">

    <div class="form-display">
      <h4 class="headline">Discover everyone's viewpoint:</h4>
      <div class="tab-bar-show">
        <%=link_to 'Back to my form', form_path(@form), class:"btn btn-outline mr-5"%>
      </div>
    <div>
        <h5 class="show-headline mb-5 ml-3">Question: <%= @question.question_content  %></h5>
          <ul style="list-style-type:none; border-left:1px solid #000;height:60vh; width: 80%" class="scrollbar-show">
            <li class="align-items-center">
              <% @answers.each do |answer| %>
                <div class="show-content"><%= answer.answer_content %></div>
              <% end %>
            </li>
          </ul>
        </div>
    </div>
    </div>
  </div>
</div>
