<body style = "background-image = myrror_clear.jpg">
<div class = landing-page-feedback-giver>
  <%= image_tag("Myrror_Logo.png") %>
  <form action="">
    <input id="presentation_key" name="presentation_key" placeholder="Presentation Key" class="feedback-label" ><br>
    <input type="submit" class="btn-above-page" placeholder="Enter">
  </form>
</div>

</body>

