<div class = landing-page-feedback-giver>
  <img src="../app/assets/images/Myrror_Logo.png" alt="Logo">
  <form action="">
    <input id="presentation_key" name="presentation_key" placeholder="Presentation Key" class="feedback-label" ><br>
    <input type="submit" class="btn-above-page" placeholder="Enter">
  </form>
</div>
