
<div class="banner" style="background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)), url(https://images.unsplash.com/photo-1495722281458-25edbdb08a1c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1900&q=80);">
  <div class="container">
    <div class="banner-title">
    <h1>my:rror</h1>
    <div class="color-backdrop"></div>
    </div>
    <h1>honest, anonymous feedback app</h1>
    <a class="btn-above-page m-3" href="#">Apply now</a>
  </div>
</div>


<div class="content">
  <div class="row justify-content-center">
    <div class="col-12">
      <h1 class="why-how">Why ?</h1>

      <div class="tripple-wrapper">
        
        <div class="tripple-card">
        <i class="fas fa-balance-scale"></i>
        <p class="title-card">Honest feedback</p>
        <p>It's anonymous.
        People are not afraid anymore
        to say what they think.
        They will provide an honest 
        and qualitative feedback.</p>
        </div>
        
        <div class="tripple-card">
        <i class="fas fa-lock-open"></i>
        <p class="title-card">Think broader</p>
        <p>Discover different ways of thinking you didn't think about. 
        It will give you a wider aspect of your speech and that will help you to improve your way to pitch.</p>
        </div>

        <div class="tripple-card">
        <i class="fas fa-history"></i>
        <p class="title-card">Time-saving</p>
        <p>With my:rror, creating your form is quick and easy, thanks to some predefined questions. Everything is thought to save you time.</p>
        </div>
      
      </div>
      
      <hr>

      <div class="quote-container">
      <p class="quote">“We all need people who will give us feedback. That's how we improve.”</p>
        <div class="bill-gates">
        <p>Bill Gates</p>
        </div>
      </div>

      <hr>

      <div class="container-how">
      <h1 class="why-how">How does it work?</h1>
      </div>

      <div class="footer">
      Your place to talk
      </div>
    </div>
  </div>
</div>
