
<div class="banner" style="background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)), url(https://images.unsplash.com/photo-1495722281458-25edbdb08a1c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1900&q=80);">
  <div class="container">
    <div class="banner-title">
    <h1>my:rror</h1>
    <div class="color-backdrop"></div>
    </div>
    <h1>honest, anonymous feedback app</h1>
    <a class="btn-above-page m-3" href="#">Apply now</a>
  </div>
</div>
<div class="content container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-10">
      <h1>Pages#home</h1>
      <div class="btn-above-page m-3"></div>
      <div class="btn-outline m-3"></div>
      <div class="btn-click m-3"></div>
      <div class="btn-standard m-3"></div>
    </div>
</div>
