
<div class="banner" style="background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)), url(https://images.unsplash.com/photo-1495722281458-25edbdb08a1c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1900&q=80);">
  <div class="container">

    <div class="banner-title">
      <h1>my:rror</h1>
      <div class="color-backdrop"></div>
    
      <h1>honest, anonymous feedback app</h1>
      <div class="color-backdrop-2"></div>
    </div>
    
    <div class="CTA-button">
    <a class="btn-above-page" href="#">Get your feedback</a>
    </div>

  </div>
</div>


<div class="content">
  <div class="row justify-content-center">
    <div class="col-12">

      <div class="why-block">
        <h1 class="why">Why ?</h1>

        <div class="tripple-wrapper">
          
          <div class="tripple-card">
          <i class="fas fa-balance-scale"></i>
          <p class="title-card">Honest feedback</p>
          <p>It's anonymous.
          People are not afraid anymore
          to say what they think.
          They will provide an honest 
          and qualitative feedback.</p>
          </div>
          
          <div class="tripple-card">
          <i class="fas fa-lock-open"></i>
          <p class="title-card">Think broader</p>
          <p>Discover different ways of thinking you didn't think about. <br>
          It will give you a wider aspect of your speech and that will help you to improve your way to pitch.</p>
          </div>

          <div class="tripple-card">
          <i class="fas fa-history"></i>
          <p class="title-card">Time-saving</p>
          <p>With my:rror, creating your form is quick and easy, thanks to some predefined questions. Everything is thought to save you time.</p>
          </div>
        
        </div>
      </div>

      <div class="quote-container">
        <div class="quote">
        “We all need people who will give us feedback. That's how we improve.”<br>
        </div>
        
        <div class="bill-gates">
        <p>Bill Gates</p>
        </div>

      </div>

      <div class="card-homepage">
        <div><h1 class="how">How does it work?</h1>
        </div>
        <div class="container-wrapper">
          <div class="container-with-3-points">

            <div class="key-points">
              <i class="far fa-question-circle bottom-icons"></i>
              <p class="key-points-text">Create your questions or use preformed questions </p>
            </div>

            <div class="key-points">
              <i class="fas fa-qrcode bottom-icons"></i>
              <p class="key-points-text">Get your personalized code or QR code<br>
              to give access to the form to your audience.</p>
            </div>

            <div class="key-points">
              <i class="fas fa-thumbs-up bottom-icons"></i>
              <p class="key-points-text">Receive valuable feedback data to improve yourself and to share on social media.</p>
            </div>
          </div>
        
          <div class="iphone">
          <%=image_tag("iphonecapture.png")%>
          </div>
        </div>
        
      </div>

      <div class="ready-to-start-journey">
      <div class="ready-to-start-journey-text"><p>Are-you ready to start the journey?</p></div>
      <a class="CTA-buttom-page btn-above-page" href="#">Create my:form </a>
      
      </div>

      <div class="footer">
        <div class="footer-up">
          <div class="your-place-to-talk-block">
            <div class="your-place-to-talk-text">Your place to talk :</div>
            <div class="your-place-to-talk-icons-block">
              <i class="fab fa-facebook-square social-media"></i>
              <i class="fab fa-instagram social-media"></i>
              <i class="fab fa-linkedin-in social-media"></i>
              <i class="fab fa-youtube social-media"></i>
            </div>
          </div>

          <div class="footer-small-block">
            <div class="title-footer-small-block">Company</div>
            <div class="subtitles-footer-small-block">Jobs<br>About</div>
          </div>

          <div class="footer-small-block">
            <div class="title-footer-small-block">Ressources</div>
            Blog<br>Partners<br>Support
          </div>

          <div class="footer-small-block">
            <div class="title-footer-small-block">Policies</div>
            Terms<br>Policy

          </div>
        </div>

        <div class="hr-tag">
        </div>

        <div class="footer-down">
          <div class="footer-down-logo">
            <%=image_tag("Myrror_Logo.png")%>
            <div class="myrror-wrapper"><p>my:rror</p></div>
          </div>

          <div>
            <a class="footer-down-sign-up btn-above-page" href="#">Sign up</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
