<div class="background">
  <%= render "components/vertical_navbar"%>
  <div class="dummy-temporary" style="width: 200px;"></div>
    <div class="main-container">
    <div class="form-display">
    
    </div>
  </div> 
</div>