<div class="background">
  <%= render "components/vertical_navbar", active: ""%>
  <div class="main-container">
    <div class="form-display-success-page"> 
      <div class="title-animation">
        <h1 class="home-title">
          <span> ✔ Congratulations, your form has been created !</span>
        </h1>
      </div>
      
      <div class="card-success">
        
        <div class="inner-card" data-controller="clipboard">
          <h5>Share one of the following in your presentation:</h5>
          
          <div class="code-part-above" >
            <div class="code-part-above-left">
              <div>
                <div class="card-codes center"><textarea class="textarea-code" data-target="clipboard.source"><%= @form.presentation_key %></textarea></div>
              </div>
              
              <div>
                <button class='btn btn-clipboard' data-action="click->clipboard#copy"><i id="far-success" class="far fa-clipboard"></i></button>
              </div>
            </div>

            <div class="code-part-above-right">
              <h4>Please find here the code that gives access to your form.</h4>
              <h5>Copy your code and share it with your audience. They can access the form via this link: 
              <%= link_to 'myrror.org/feedback', feedback_path, class: 'link-success' %></h5>
              
            </div>
          </div>

          <div class="hr-tag-success-page">
          <hr>
          </div>
          
          <div class="qr-code-part-bellow">

            <div class="qr-code-part-bellow-left">
              <div class="qr-code"><%= image_tag @png.to_data_url %></div>
            </div>
            
            
            <div class="qr-code-part-bellow-right">
              <h4>Or use this QR code to give access to your form.</h4>
              <h5>Save this QR code as an image by right-clicking. Then you can paste the QR code image into your presentation, or even print it out. 
              Your audience can scan the code and will arrive directly on your form.</h5>
              
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

