<div class="background">
  <div class="main-container">
    <div class="sidebar">dashboard</div>
      <div class="form-display">
        <h2>Congrats! Your form has been created</h2>
        <div class="card m-5">
          <h4>Share this code in your presentation</h4>
          <p>Give this link to your audience</p>
          <%= link_to 'myrror.org/feedback', root_path, class: 'btn btn-above-page' %>
          <div class="card-codes">
            <p>Presentation Key</p>
            <h4><%= @form.presentation_key %></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>