<div class="container">
  <div class="text-center m-5">
    <h1>Congrats! Your form has been created</h1>
    <h3>Share this code in your presentation</h3>
    <h3><%= @form.presentation_key %></h3>
  </div>
</div>