.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.banner h1{
 color: white;
}

.banner-title {
  position: relative;
}

.color-backdrop{
  position: absolute;
  top: 24px;
  left: 16px;
  background-color: rgba(52, 203, 176, 0.4);
  width: 140px;
  height: 36px;
}

.color-backdrop-2 {
  position: absolute;
  top: 80px;
  left: 16px;
  background-color: rgba(52, 203, 176, 0.4);
  width: 650px;
  height: 36px;
}