.card-index {
  height: 300px;
  max-width: 200px;
  background: white;
  border-radius: 18px;
  -webkit-box-shadow: 4px 4px 16px 0px rgba(52, 203, 176, 0.2);
  -moz-box-shadow: 4px 4px 16px 0px rgba(52, 203, 176, 0.2);
  box-shadow:  4px 4px 16px 0px rgba(52, 203, 176, 0.2);
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;

}
@media(max-width: 992px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}